@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

ul li {
    list-style-type: none;
}
ul, li, ul li {
    margin: 0;
    padding: 0;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #d81b60;
    font-weight: bold;
    border-left: 3px solid #d81b60;
    padding-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 13px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #d81b60;
}

nav {
    height: auto;
    background-color: #ffffff;
}

nav .navbar {
    padding: 0 !important;
}

nav .navbar-brand {
    position: relative;
    z-index: 1;
}

nav .navbar-brand .logo{
    position: absolute;
    width: 100px;
    top: -45px;
}
.navbar-nav{
    margin-top: 35px;
    
}


#carouselExampleIndicators {
}

.carousel-image{
    height: 300px;
    background-size: cover;
    background-position: center;
}


#carousel-image-1 {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/04/19/05/cookies-1372607_960_720.jpg");
}

#carousel-image-2 {
    background-image: url("https://cdn.pixabay.com/photo/2014/12/02/03/04/christmas-cookies-553457_960_720.jpg");
}

#carousel-image-3 {
    background-image: url("https://cdn.pixabay.com/photo/2017/11/11/09/23/brownie-2938671_960_720.jpg");
}


.about{
    margin: 60px 0;
    position: relative;
}
.about-content{
    margin: auto;
}
.about-image{
    width: 100%;
}

.about-header{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 25px;
}
.about-header .about-colored-text{
    color: #d81b60;
    position: relative;
}
.about-colored-text:after{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 243px;
    left: 0;
    height: 2px;
    border-bottom: 1px solid #d81b60;
}



#latest-works {
    background-color: #FCE4EC;
    padding: 50px 0;
}

#latest-works .about-colored-text:after{
    content: "";
    left: 50%;
    transform: translateX(-50%);
}

.menu-item-content {
    padding: 15px 3px;    
    text-align: center;
    background-color: #D81B60;
    color: #fff;
    border-radius: 0 0 10px 10px;
}
.menu-item-content span {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    line-height: 20px;
}


footer {
    position: relative;
    height: 300px;
}

footer .footer-logo {
    width: 150px;
    margin-top: 80px;
}

footer .footer-image {
    padding-left: 0;
}

.footer-items {
    margin: 30px 0;
    text-align: center;
}

.footer-items .footer-item{
    margin: 15px 0;
}

.copyright {
    background-color: #d81b60;
    color: #fff;
    padding: 15px;
    letter-spacing: 2px;
    width: 100%;
    margin: 0;
}
.copyright p{
    margin: 0;
}

.popup-image {
    text-decoration: none;
}

/* Tablets */
@media (min-width: 768px) {
    .carousel-image{
        height: 400px;
    }

   
}

/* Desktops */
@media (min-width: 992px) {
    nav {
        height: 130px;
    }
    nav .navbar-brand .logo{
        width: 200px;
        top: -100px;
    }
    .navbar-nav{
        margin-top: 0;
    }
    
    .carousel-image{
        height: 600px;
    }
    
    
    footer .footer-logo {
        width: 250px;
    }
    
    .navbar-light .navbar-nav .active>.nav-link {
        color: #d81b60;
        font-weight: bold;
        border: none;
        border-bottom: 3px solid #d81b60;
    }

    .navbar-light .navbar-nav .nav-link {
        
    }
    
}
